/* Global */

body {
  font: 15px Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e8e8e8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
   flex: 1 0 auto;
 }

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #7297ac;
  padding-top: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  border-bottom: #cf7039 3px solid;
}

header h2 {
  float: left;
}

header h5 {
  float: right;
}

.field input[type="text"] {
  height: 25px;
  width: 60%;
  border-radius: 20px;
}

/* Showcase */

#content {
  height: 61vh;
  margin-top: 30px;
  margin-bottom: -50px;
}



table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 10px;
}
th, td {
    padding: 3px;
    text-align: left;
}

/* Form */

#form {
  position: relative;
  margin-top: -70px;
}

#info {
  width: 40%;
  float: left;
  margin-top: -5px;
}

p {
  padding-top: 5px;
}

input {
  width: 80%;
}

.input {
  width: 40%;
  float: right;
}

.button_2 {
  height: 28px;
  background: #cf7039;
  border: 0;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 0px;
  float: left;
}

.button_1 {
  height: 28px;
  background: #cf7039;
  border: 0;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  float: right;
  margin-left: 60px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: 10px;
  text-align: left;
  padding-bottom: 23px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/* Footer */

footer {
  /*padding-bottom: 55px;*/
  /*margin-top: 50px;*/
  position: sticky;
  text-align: center;
}
